<div class="container">
  <h1>Editing Employee</h1>

  <%= form_tag employee_path(@employee.dig("id")), method: :put do %>
    <%= render_form_field "Name", :name, @employee.dig("name") %>
    <%= render_form_field "Position", :position, @employee.dig("position") %>
    <%= render_form_field "Salary", :salary, @employee.dig("salary"), type: :number %>
    <%= render_form_field "Date of Birth", :date_of_birth, @employee.dig("date_of_birth"), type: :date %>

    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
