<div class="container">
  <h1>Employees</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Position</th>
        <th scope="col">Date Of Birth</th>
        <th colspan="2" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.dig("data").each do |employee| %>
        <tr>
          <th scope="row"><%= employee.dig("id") %></th>
          <td><%= employee.dig("name") %></td>
          <td><%= employee.dig("salary") %></td>
          <td><%= employee.dig("position") %></td>
          <td><%= employee.dig("date_of_birth") %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee.dig("id")) %></td>
          <td><%= link_to 'Show', employee_path(employee.dig("id")) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% meta = @employees.dig("meta") %>
  <% if meta.present? %>
    <%= link_to 'First Page', employees_path(page: 1) %> |
    <%= link_to 'Next Page', employees_path(page: meta["next_page"]) if meta["next_page"].present? %> |
    <%= link_to 'Previous Page', employees_path(page: meta["prev_page"]) if meta["prev_page"].present? %> |
    <%= link_to 'Last Page', employees_path(page: meta["total_pages"]) if meta["total_pages"].present? %>
  <% end %>
</div>
