<div class="container">
  <h1>New Employee</h1>

  <%= form_tag employees_path do %>
    <%= render_form_field "Name", :name %>
    <%= render_form_field "Position", :position %>
    <%= render_form_field "Salary", :salary, type: :number %>
    <%= render_form_field "Date of Birth", :date_of_birth, type: :date %>

    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <% end %>

  <%= link_to "Back", employees_path %>
</div>
